{% extends "user_layout.html" %}

{% block wrapper %}
<div class="user-index">
	<div class="user-schedule">
<table class="table table-bordered table-hover table-container" style="width:auto;">
				<tbody><tr>
					<th></th>
					<th>一</th>
					<th>二</th>
					<th>三</th>
					<th>四</th>
					<th>五</th>
					
				</tr>
				<tr>
					<td>1、2</td>
					<td>
						教育学<br>
						林飞、姚文均<br>
						1-6、8-10、12-13<br>
						求知楼B205
					</td>
					<td>
						计算机网络技术<br>
						1-12<br>
						新知楼B201<br>
						刘斌
					</td>
					<td>
						软件工程<br>
						新知楼B201<br>
						1-10<br>
						马润
					</td>
					<td>
						计算机网络技术<br>
						1-12<br>
						新知楼B201  刘斌<br>
						计算机网络技术实验<br>
						实验室13  刘斌
					</td>
					<td>
						教育学<br>
						林飞、姚文均<br>
						1-7<br>
						求知楼B205
					</td>
					
				</tr>
				<tr>
					<td>3、4</td>
					<td class="embedded">
						嵌入式系统原理与接口技术<br>
						实验室  8-10,12-14<br>
						教师待定<br>
						嵌入式方向
					</td>
					<td></td>
					<td class="embedded">
						嵌入式系统原理与接口技术<br>
						实验室  8-14<br>
						教师待定<br>
						嵌入式方向
					</td>
					<td>
						计算机网络技术实验<br>
						实验室  7-13<br>
						刘斌
					</td>
					<td class="embedded">
						嵌入式系统原理与接口技术<br>
						实验室<br>
						1-8<br>
						教师待定
					</td>
					
				</tr>
				<tr>
					<td>5、6</td>
					<td class="embedded">
						嵌入式系统原理与接口技术<br>
						实验室  8-13<br>
						教师待定<br>
						嵌入式方向
					</td>
					<td>
						面向对象与设计模式<br>
						6-10沈峰  实验室<br>
						信息管理技术方向<br>
						<span class="embedded">嵌入式Linux系统开发<br>
						5-13  实验室<br>
						教师待定<br>
						嵌入式方式
						</span>
					</td>
					<td></td>
					<td>
						面向对象与设计模式<br>
						1-13  沈峰  实验室<br>
						信息管理技术方向<br>
						<span class="embedded">嵌入式Linux系统开发<br>
						5-13  实验室<br>
						教师待定<br>
						嵌入式方式
						</span>
					</td>
					<td>
						软件工程<br>
						1-6<br>
						新知楼B201  马润<br>
						软件工程实验<br>
						7-10  马润
					</td>
					
				</tr>
				<tr>
					<td>7、8</td>
					<td></td>
					<td class="embedded">
						嵌入式Linux系统开发<br>
						5-13  实验室<br>
						教师待定<br>
						嵌入式方式
					</td>
					<td></td>
					<td class="embedded">
						嵌入式Linux系统开发<br>
						5-13  实验室<br>
						教师待定<br>
						嵌入式方式
					</td>
					<td></td>
					
				</tr>
				<tr>
					<td>9、10、11</td>
					<td></td>
					<td>
						JAVA WEB系统开发<br>
						1-12（3节）<br>
						实验室<br>
						赵靖
					</td>
					<td></td>
					<td>
						JAVA WEB系统开发<br>
						1-12（3节）<br>
						实验室<br>
						赵靖
					</td>
					<td></td>
					
				</tr>
			</tbody></table>		
	</div>
</div>


{% endblock %}